<video #target class="video-js vjs-big-play-centered" controls playsinline preload="none"></video>
<button class="button" (click)="playBackrateDecrease()">PlayBackRateDecrease</button>
<button class="button" (click)="playBackrateIncrease()">PlayBackRateIncrease</button>
<button class="button" (click)="SetAspectRatio1()">Set AspectRatio 16:9</button>
<button class="button" (click)="SetAspectRatio2()">Set AspectRatio 4:3</button>
<button class="button" (click)="SetAttribute()">Set Attribute</button>

